.dialog {
    display: none;
    width: 80vw;
    height: 20vh;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;

}

.dialog-content {
    text-align: center;
}

.dialog-title {
    font-size: 28px;

}

.dialog-actions>button {
    width: 20%;
    padding: 10px;
}